#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: -webkit-gradient(linear, left top, right top, from(#c9c9c9), color-stop(0.5, #e1e1e1), to(#c9c9c9));
    background: -moz-linear-gradient(left, #c9c9c9, #e1e1e1, #c9c9c9);
    background: linear-gradient(left, #c9c9c9, #e1e1e1, #c9c9c9);
}

#outer-display {
    width: 90%;
    height: 90%;
    background-color: #4a4342;
    border-radius: 25px;
    margin: auto;
    padding: 30px 30px 50px 30px;
    box-sizing: border-box;
}

#inner-display {
    background-color: #bababa;
    background: -webkit-gradient(radial, center center, 0, center center, 500, from(#FAFAFA), to(#BABABA));
    background: -moz-radial-gradient(circle,#FAFAFA, #BABABA);
    background: radial-gradient(circle,#FAFAFA, #BABABA);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#problem {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#patterns {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#tellchildren {
    display: none;
}

#result {
    width: 100%;
    height: 3em;
    clear: both;
    position: relative;
    top: -5em;
}

#path {
    position: relative;
    top: 10%;
    z-index: 1;
}

#problem > p {
    font-family: "ＭＳ ゴシック", sans-serif;
    text-weight: bolder;
    font-size: 500%;
    margin: 20px 0px 0px 0px;
}

#problem > .text-japanese {
    font-weight: bolder;
    font-size: 180%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

#problem > .text-english {
    font-size: 80%;
    margin: 0px;
}

#result {
    font-size: 200%;
    font-weight: boler;
}

#result-text {
    width: 50%;
    text-align: right;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#result > .text-japanese {
    position: absolute;
    left: 50%;
    bottom: 0px;
}

#result > .text-english {
    position: absolute;
    left: 50%;
    top: 100%;
    font-size: 50%;
}

#start, #goal {
    font-family: "Times New Roman", serif;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 40px;
    border-radius: 25px;
    margin: -25px;
    display: none;
    z-index: 2;
}
